@model LBApp.Models.Author

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви впевнені?</h3>
<div>
    <h4>Автор</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorBiogr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorBiogr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AuthorId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись назад</a>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </form>
</div>
