@using Microsoft.AspNetCore.Identity
@model LBApp.ViewModel.ChangeRoleViewModel
<h2></h2>Зміна ролей для користувача @Model.UserEmail</h2>
<style>
    .div1{
        position:relative;
        top:10px;
    }
</style>
<form asp-action="Edit" method="post">
    <input type="hidden" name="userid" value="@Model.UserId" />
    <div class="form-group">
        @foreach(IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
            @(Model.UserRoles.Contains(role.Name)? "checked=\"checked\"":"")/>@role.Name<br/>
        }
    </div>
    <div class="div1"><button type="submit" class="btn btn-primary">Зберегти</button></div>
</form>