@model IEnumerable<LBApp.Models.Comment>

@{
    ViewData["Title"] = "Коментарі";
}

<h1>Коментарі до книги @ViewBag.BookName</h1>
<input type="hidden" name="Readername" value="@User.Identity.Name" />
@if (User.IsInRole("admin") || User.IsInRole("user"))
           {
<p>
    @Html.ActionLink("Створити новий", "Create", new {Bookid=@ViewBag.Bookid, Readerid=ViewBag.Readerid})
</p>
           }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.ReaderName)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id=item.ComId}) |
                        <a asp-action="Details" asp-route-id="@item.ComId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ComId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ComId">Details</a>
                    </td>
                }
        </tr>
}
        <a asp-action="Details" asp-controller="Books3" asp-route-id="@ViewBag.Bookid">Повернутися назад</a>
    </tbody>
</table>
