@model IEnumerable<LBApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Книги за жанром @ViewBag.GenreName</h1>

<p>
    @Html.ActionLink("Додати нову книгу", "Create", "Books", new {genreId= @ViewBag.GenreId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPagesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishingHouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPagesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingHouse.PhName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {id= @item.BookId}) |
                    @Html.ActionLink("Details", "Details", new {id= @item.BookId}) |
                    @Html.ActionLink("Delete", "Delete", new {id= @item.BookId})
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    @Html.ActionLink("Повернутись назад", "Index", "Genres")
</p>